---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Icon from "astro-icon";
import LinaroLogo from "../../assets/images/content/linaro-logo.png";
const footer = await getEntry("data", "footer");
const { data }: any = footer;
---

<footer class="justify-self-end mt-auto bg-neutral-600 text-white pt-8 px-2">
  <div class="flex flex-wrap flex-row items-center justify-center gap-4">
    <a
      href="https://www.github.com/Linaro/lavasoftware"
      class="flex gap-2 hover:text-accent"
    >
      <Icon name="mdi:github" class="w-6 text-inherit" />View on GitHub
    </a>
  </div>
  <ul class="flex flex-wrap flex-row items-center justify-center gap-4 my-6">
    <span class="text-center">
      Copyright © {new Date().getFullYear()}&nbsp;{data.copyright_text}
    </span>
    {
      data.company_links.map((link: any) => (
        <a
          href={link.url}
          class="before:content-['•'] before:mr-4 hover:text-accent before:hover:text-white"
        >
          {link.label}
        </a>
      ))
    }
  </ul>
  <div class="flex flex-row justify-center my-4">
    <a href="/">
      <Image class="w-[60px]" src={LinaroLogo} alt="logo" />
    </a>
  </div>
</footer>
